VITE_APP_NAME="Mathsy Meet"
VITE_SUPABASE_PROJECT_ID="xdompklesgqglytidtlh"
VITE_SUPABASE_URL="https://xdompklesgqglytidtlh.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhkb21wa2xlc2dxZ2x5dGlkdGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzOTQ4OTAsImV4cCI6MjA4ODk3MDg5MH0.7yuQtmLP0DUGiy3Gg4Kx5EESovX7y0VfFFoaU52157I"
VITE_MEDIASOUP_SERVER_URL="https://rtc.mathsy.in"
VITE_GOOGLE_CLIENT_ID="624389472912-jb3ji3bklfi2frmb9nuhc3n9alnfpdqm.apps.googleusercontent.com"
VITE_TLDRAW_LICENSE_KEY="tldraw-2027-01-09/WyJaQ3ppenpBViIsWyIqIl0sMTYsIjIwMjctMDEtMDkiXQ.ITfAUfi2Gwidt6kO2vkaTUKmtP0w/plMJYPO9FOy7eJbdJQJAcot2ABKVSXTxcTydJBnCKzFXqI9JVYVOUxabw"
